<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h4><%= _('TFTP Details') %></h4>
    </div>
    <%= render :partial => 'smart_proxies/plugins/plugin_version', :locals => {:feature => feature, :proxy => @smart_proxy } %>
    <div class="row">
      <div class="col-md-4">
        <%= _('TFTP server') %>
      </div>
      <div class="col-md-8">
        <span class="proxy-version" data-url="<%= tftp_server_smart_proxy_path(@smart_proxy) %>">
          <%= image_tag '/assets/spinner.gif' %>
        </span>
      </div>
    </div>
  </div>
</div>
